/*--  Header  --*/

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu ul {
    gap: 0 32px;
}

header .buttons {
    display: flex;
    align-items: center;
    gap: 0 8px;
}